@import "_variables.scss";

body{
    background-color: rgba($subSubTitleColor, 0.1);
    color: $texteColor;
    font-family: 'gilroy-lightuploaded_file';
    h1{
        padding-top:15px;
        color: $titleColor;
        font-size: 2rem;
        
    }
    h2{
        color: $subTitleColor;
    }
    h3{
        color: $subSubTitleColor;
    }
    .navbar{
        background: url(../images/bg-navbar.png);
        background-repeat: no-repeat;
        // background-size: auto 100%;
        background-attachment: fixed;
        background-color: $titleColor;

        .navbar-toggler{
            &:focus{
                box-shadow: 0 0 0 0rem;
            }
            color: rgba(255,255,255,1);
            border-color: rgba(255,255,255,1);
        }
        .navbar-nav{
            .nav-link{
                font-family: 'gilroy-mediumuploaded_file';
                color: white;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .content-wrapper{
        min-height: calc(100vh - 105px);
    }
    footer{
        background: url(../images/bg-footer.png);
        text-align: right;
        img{
            width: 90px;
        }
    }
    form{
        .form-control{
            &:focus{
                background-color: rgba($subSubTitleColor, 0.6);
                color: white;
            }
        }
        .form-check-input{
            &:checked{
                background-color: rgba($subSubTitleColor, 0.6);
                border-color: rgba($subSubTitleColor, 0.6);
            }
        }
        fieldset {
            min-width: initial;
            padding: 16px;
            margin: initial;
            margin-bottom: 16px;
            border-width: 1px;
            border-style: groove;
            border-color: rgba($subTitleColor, 0.3);
            border-radius: 5px;
        }
        .legend{
                float: initial;
                width: initial;
                color: $subTitleColor;
                font-size: 1.3rem;
        }
    }
    .btn-primary{
        background-color: $titleColor;
        color: white;
        &:hover{
            background-color: $subTitleColor;
            border-color: $subTitleColor;
        }
    }
}