{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1>Thank you</h1>
    <p>
        Your enrollment is registered
        <br>
        You will receive a confirmation email
        <br>
        <a href="{{ path('app_front') }}" class="btn btn-primary mt-4">return to the homepage</a>.
    </p>
</div>
{% endblock %}