{% extends 'base-back.html.twig' %}
{% block title %}
    Hello AdminDashboardController!
{% endblock %}
{% block body %}
    <h1>
        Welcome to your dashboard
    </h1>
    <a href="{{ path('app_users_export') }}" class="btn btn-success mt-2">Export users inscriptions</a>
    <p class="mt-4">See below the number of inscriptions by speciality</p>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">
                                Physicians
                            </h5>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-divide"><circle cx="12" cy="6" r="2"></circle><line x1="5" y1="12" x2="19" y2="12"></line><circle cx="12" cy="18" r="2"></circle></svg>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">
                        {{ physicians }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">
                                Data mangers
                            </h5>
                        </div>
                        <div class="col-auto">
                            <div class="stat text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">
                        {{dataManagers}}
                    </h1>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
