{% extends 'base.html.twig' %}

{% block title %}{% trans %}titles.contact{% endtrans %}{% endblock %}

{% block body %}

{% if contact.title is defined and contact.title is not null %}
<h1>{{contact.title}}</h1>
{% endif %}
<div class="mt-4">
{{ contact.content|raw }}
</div>
{% endblock %}
