{% extends 'base.html.twig' %}

{% block title %}{% trans %}titles.home{% endtrans %}{% endblock %}

{% block body %}

{% if home.title is defined and home.title is not null %}
<h1>{{ home.title }}</h1>
{% endif %}
<div class="mt-4">{{ home.content|raw}}</div>

{% endblock %}
