{% extends 'base-back.html.twig' %}

{% block title %} {% trans %}titles.editSpeciality{% endtrans %}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
<a href="{{ path('app_admin_speciality_index') }}" class="btn btn-primary"><i class="align-middle" data-feather="arrow-left"></i></a>
{{ include('admin_speciality/_delete_form.html.twig') }}
</div>
    <h1> {% trans %}titles.editSpeciality{% endtrans %}</h1>
    {{ include('admin_speciality/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
