{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1>Error 403</h1>
    <p>
        An error 403 as occured 
        <br>
        <a href="{{ path('app_front') }}" class="btn btn-primary mt-4">return to the homepage</a>.
    </p>
</div>
{% endblock %}