{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1>Page not found</h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <br> <a href="{{ path('app_front') }}" class="btn btn-primary mt-4">return to the homepage</a>.
    </p>
</div>
{% endblock %}