{% extends 'base-back.html.twig' %}

{% block title %}New Programs{% endblock %}

{% block body %}
    <h1>Create new Programs</h1>

    {{ include('admin_programs/_form.html.twig') }}

    <a href="{{ path('app_admin_programs_index') }}">back to list</a>
{% endblock %}
