<style>
    body{background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'}
    .container{background-color: white;min-width: 965px;}
    .img-fluid{width: 100%;}

</style>
<body>
    <div class="container">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" class="img-fluid">

    <p>Dear colleague,</p> 

    <p>We thank you for your registration and are looking forward to meet you on-site or remotely during this event.</p>

    <p>If you have requested travel needs, the agency EQUATOUR will quickly contact you by email to fulfill your needs.</p>    

    <p>Do not hesitate to contact us for any further information regarding  :</p>

    <p>the study : Roberta VALENTI (nerlyfestudy@pierre-fabre.com)</p>
    <p>the organization of this meeting : Christelle TOUCHET( christelle.touchet@pierre-fabre.com)</p>


    <p>Kind regards,</p>

 

    <p>Roberta VALENTI</p>

    <p>Medical Director Breast Cancer Pierre Fabre</p>

        <a href="webcal://www.nerlyfe-investigator-meeting.com/images/invite.ics"><input type="button"></a>
    </div>
    
</body>