<body style="background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'">
    <div class="background-color: white;width: 965px;">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" style="width: 100%;">

        <div style="padding: 0 15px;">

            <p>Dear colleague,</p> <br>
    
            <p>We thank you for your registration and are looking forward to meet you on-site or remotely during this event.</p>
    
            <p>If you have requested travel needs, the agency EQUATOUR will quickly contact you by email to fulfill your needs.</p>    
    
            <p>Do not hesitate to contact us for any further information regarding  :</p>
    
            <ul>
                <li>the study : Roberta VALENTI (nerlyfestudy@pierre-fabre.com)</li>
                <li>the organization of this meeting : Christelle TOUCHET( christelle.touchet@pierre-fabre.com)</li>
                <li>the transport & logistics: EQUATOUR Agency - Sophie SZCZUDLAK (sophie@equatour.net)</li>
            </ul>
    
    
            <p>Kind regards,</p>
            <br>
            <p>Roberta VALENTI<br>Medical Director Breast Cancer Pierre Fabre</p>

        </div>

        <br>

        <div style="width: 100%; text-align: center; padding-bottom: 12px">
            <a href="https://www.nerlyfe-investigator-meeting.com/images/invite.ics" style="background-color:#0d7d92;color:white;padding:12px;border-radius:5px;border:1px; cursor:pointer; text-decoration:none;">Add to Agenda</a>
        </div>

        <br>
        
        <img src="https://www.nerlyfe-investigator-meeting.com/images/header-footer.png" alt="" style="width: 100%;">
</div>
    
</body>