<body style="background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'">
    <div class="background-color: white;width: 965px;">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" style="width: 100%;">

        <div style="padding: 0 15px;">

            <p>Dear colleague,</p> <br>
    
            <p>On behalf of the Global Pierre Fabre Breast Cancer team, we thank you for your registration and look forward to meeting you in-person or remotely during the event.</p>
    
            <p>If you have requested travel needs, the agency EQUATOUR will quickly contact you by email to fulfill your needs.</p>    
    
            <p>Should you have any queries, please do not hesitate to contact us at:</p>
    
            <ul>
                <li><strong>ERLYFE study – Pierre Fabre:</strong> Roberta Valenti (nerlyfestudy@pierre-fabre.com)</li>
                <li><strong>NERLYFE study – Pierre Fabre:</strong> Roberta Valenti (nerlyfestudy@pierre-fabre.com)</li>
                <li><strong>Event logistics – Equatour Agency:</strong> Sophie SZCZUDLAK (sophie@equatour.net)</li>
            </ul>
    
    
            <p>Yours sincerely,</p>
            <br>
            <p><strong>Roberta VALENTI</strong><br>Global Medical Director of Breast Cancer<br>Medical Affairs Oncology, Pierre Fabre</p>

        </div>

        <br>

        <div style="width: 100%; text-align: center; padding-bottom: 12px">
            <a href="https://www.nerlyfe-investigator-meeting.com/images/invite.ics" style="background-color:#0d7d92;color:white;padding:12px;border-radius:5px;border:1px; cursor:pointer; text-decoration:none;">Add to Agenda</a>
        </div>

        <br>
        
        <img src="https://www.nerlyfe-investigator-meeting.com/images/header-footer.png" alt="" style="width: 100%;">
</div>
    
</body>