<body style="background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'">
    <div class="background-color: white;width: 965px;">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" style="width: 100%;">

        <div style="padding: 0 15px;">
            <p>Dear colleague,</p> <br>
        
            <p>On behalf of the Global Pierre Fabre Breast Cancer team, we thank you for your response and hope to meet you at a Pierre Fabre event in the future.</p>
        
            <p>Please note that the NERLYFE Study Investigator Meeting materials will be shared with you after the event for your training purposes.</p>
            
            Should you have any queries about these materials or the study, please do not hesitate to contact Roberta Valenti at <a href="mailto:nerlyfestudy@pierre-fabre.com">nerlyfestudy@pierre-fabre.com</a>. 
            
        
            <p>nerlyfestudy@pierre-fabre.com</p><br>
        
            <p><strong>Roberta VALENTI</strong><br>Global Medical Director of Breast Cancer<br>Medical Affairs Oncology, Pierre Fabre</p>
        
        </div>

        <img src="https://www.nerlyfe-investigator-meeting.com/images/header-footer.png" alt="" style="width: 100%;">
    </div>
    
</body>