<body style="background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'">
    <div class="background-color: white;width: 965px;">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" style="width: 100%;">

        <div style="padding: 0 15px;">
            <p>Dear colleague,</p> <br>
        
            <p>We thank you for your answer and are looking forward to meet you at another occasion.</p>
        
            <p>We will share with you the meeting materials for your training purposes.</p>    
        
            <p>Kind regards,</p><br>
        
            <p>Roberta VALENTI <br>Medical Director Breast Cancer Pierre Fabre</p>
        
        </div>

        <img src="https://www.nerlyfe-investigator-meeting.com/images/header-footer.png" alt="" style="width: 100%;">
    </div>
    
</body>