<style>
    body{background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'}
    .container{background-color: white;width: 965px;}
    .img-fluid{width: 100%;}
</style>
<body style="background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'">
    <div class="background-color: white;width: 965px;">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" style="width: 100%;">

    <p>Dear colleague,</p> 

    <p>We thank you for your answer and are looking forward to meet you at another occasion.</p>

    <p>We will share with you the meeting materials for your training purposes.</p>    

    <p>Kind regards,</p>

    <p>Roberta VALENTI</p>

    <p>Medical Director Breast Cancer Pierre Fabre</p>

        <img src="https://www.nerlyfe-investigator-meeting.com/images/header-footer.png" alt="" style="width: 100%;">
    </div>
    
</body>