<style>
    body{background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'}
    .container{background-color: white;min-width: 965px;}
    .img-fluid{width: 100%;}

</style>
<body>
    <div class="container">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" class="img-fluid">
        <a href="https://www.nerlyfe-investigator-meeting.com/images/invite.ics"><input type="button"></a>
    </div>
    
</body>