<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerlyfe investigator meeting</title>
</head>
<body style="background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'">
    <div class="background-color: white;width: 965px;">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" style="width: 100%;">

        <div style="padding: 0 15px;">

            <p>Dear colleague</p> <br>
    
            <p>On behalf of the Global Pierre Fabre Breast Cancer team we wish to thank for your willingness to participate to this
                international study aimed at characterizing the safety profile of neratinib in the real-world setting.</p>
    
            <p>As patient enrolment for the study starts, it is our pleasure to invite you to the <strong>NERLYFE Study Investigator Meeting</strong> which is to be held at the <strong>Hotel Innside, Paris Charles de Gaulle Airport, Paris, France</strong> <strong>on Thursday, 23 June 2022</strong> from <strong>11:30 to 16:00 CEST</strong>. For participants who are not able to attend in-person, we would be happy to provide you with a link to join the virtual session from 13:30 CEST to 16:00 CEST..</p>    
    
            <p>This is an opportunity to dive deep into the NERLYFE study procedures and to discuss how to optimise patient enrolment and data collection with the study Steering Committee and other participating Investigators. Please find the event program details below.</p>

            <p>Two participants are invited to attend from each site: the Principal Investigator or Sub-Investigator and an additional study team member, preferably a Data Manager. If you are unable to attend, we would be most grateful if you could please forward this invitation on to other study team members at your site.</p>
    
            <p>To proceed to your registration, please complete the registration formulary by connecting to <a href="https://nerlyfe-investigator-meeting.com/">https://nerlyfe-investigator-meeting.com/</a>.</p>
            <p>Your answer would be highly appreciated before May 20 2022.</p>
    
    
            <p>Sincerely,</p><br>
            
            <p><strong>Roberta VALENTI</strong><br>Global Medical Director of Breast Cancer<br>Medical Affairs Oncology, Pierre Fabre</p>

        </div>

        <div style="width: 100%; text-align: center; padding-bottom: 12px">
            <a href="https://www.nerlyfe-investigator-meeting.com/register" style="background-color:#0d7d92;color:white;padding:12px;border-radius:5px;border:1px; cursor:pointer; text-decoration:none;">Program & Registration</a>
        </div>
        <br>
        
        <img src="https://www.nerlyfe-investigator-meeting.com/images/header-footer.png" alt="" style="width: 100%;">
</div>
    
</body>
</html>