<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerlyfe investigator meeting</title>
</head>
<body style="background-color:rgba(76,209,220,0.1);color:#00315d;font-family:'gilroy-lightuploaded_file'">
    <div class="background-color: white;width: 965px;">
        <img src="https://www.nerlyfe-investigator-meeting.com/images/banner.png" alt="" style="width: 100%;">

        <div style="padding: 0 15px;">

            <p><strong>Dear colleague, dear investigator,</strong></p> <br>
    
            <p>On behalf of the Global Pierre Fabre Breast Cancer team we wish to thank for your willingness to participate to this
                international study aimed at characterizing the safety profile of neratinib in the real-world setting.</p>
    
            <p>As the study is about to start patient registration, it is our pleasure to invite you to the <strong>NERLYFE Study Investigator 
                Meeting</strong>, to be held at the <strong>Crowne Plaza, in Berlin, Germany on the 2nd of May 2022 (11.30 am – 4.00 pm CEST)</strong>, as
                an opportunity to deep dive into the NERLYFE study procedures and exchange with the study Steering Committee and
                participating investigators how to optimize patient registration and data collection.</p>    
    
            <p>You can find the program and meeting information. For participants not being able to come in person, we are happy
                to provide the possibility to participate to a virtual session starting at 1.30 pm and ending at 4.00 pm CEST. You will
                receive a specific link to connect.</p>

            <p>In order to proceed to your registration, please click on the button “Program & Registration” and complete the registration survey.</p>
    
            <p>Two participants are invited to attend from each site: one PI/subPI and one additional member of the study team
                (data manager preferred).</p>
    
            <p>If your attendance is not possible, we would hence be thankful if you could forward this invitation to the other
                members of the study team at your site.</p>
    
            <p>Sincerely,</p><br>
            
            <p><strong>Roberta Valenti</strong><br>On behalf of the <strong>Global Pierre Fabre Breast Cancer team</strong></p><br>

        </div>

        <div style="width: 100%; text-align: center; padding-bottom: 12px">
            <a href="https://www.nerlyfe-investigator-meeting.com/register" style="background-color:#0d7d92;color:white;padding:12px;border-radius:5px;border:1px; cursor:pointer; text-decoration:none;">Program & Registration</a>
        </div>
        <br>
        
        <img src="https://www.nerlyfe-investigator-meeting.com/images/header-footer.png" alt="" style="width: 100%;">
</div>
    
</body>
</html>